@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    flex-wrap: wrap;
    background: #f0f0f0;
}

.left{
    background: url('img/background.png') no-repeat;
    background-size: contain;
    width: 454px;
    height: 618px;
    margin: 30px 0 0 265px;
}

.bg{
    background: url('img/bg.jpg') no-repeat;
    background-size: contain;
    height: 429.2px;
    /* height: 65.2vh; */
    position: relative;
    top: 99.3px;
    margin-left: 150px;
}

.form{
    width: 350px;
    margin: 65px 0 0 -15px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    height: 380px;
    border: 1px solid #dbdbdb;
}

.login img{
    width: 175px;
    height: 51px;
    margin: 30px 0 20px 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login input{
    font-size: 12px;
    width: 280px;
    height: 35px;
    margin-top: 10px;
    outline: none;
}

.login input[type="text"], [type="password"]{
    padding: 0 6px;
    background: rgba(var(--b3f,250,250,250),1);
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    height: 40px;
}

.login input[type="submit"]{
    background: dodgerblue;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    height: 32px;
}

form p{
    margin: 20px 0;
    color: #8e8e8e;
    position: relative;
    font-weight: bold;
    font-size: 12px;
}

form p::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -125px;
    width: 115px;
    border-top: 1px solid #dbdbdb;
}

form p::after{
    content: "";
    position: absolute;
    top: 50%;
    right: -125px;
    width: 115px;
    border-top: 1px solid #dbdbdb;
}

a.fb{
    font-size: 14px;
    text-decoration: none;
    color: #385185;
    font-weight: bold;
    margin-top: 8px;
}

.fb i{
    font-size: 18px;
}

a.zabil{
    text-decoration: none;
    color: #00376b;
    font-size: 12px;
    margin-top: 20px;
}

.reg{
    background: white;
    text-align: center;
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    height: 63px;
}

.reg p{
    margin-top: 20px;
    font-size: 16px;
}

.reg a{
    text-decoration: none;
    color: #0095f6;
    font-weight: bold;
}

.app{
    text-align: center;
    margin-top: 20px;
}

.app img{
    width: 136px;
    height: 40px;
    margin: 30px 10px 0 10px;
}
